body{
  font-family: "Open Sans";
  line-height: 1.7;
  font-size: 1em;
  color: #222;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Inter";
  font-weight: 700;
  text-transform: uppercase;
}
h1 {
  font-size: 2.8em;
  line-height: 1.2;
}

p {
  line-height: 1.7;
  font-size: 18px;
  margin-bottom: 18px;
}


.nuxt-content-highlight {
  padding-left:0;
  border-radius:8px !important; 
}
pre {
  background-color: black;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 12px;
  margin-bottom: 24px;
}
pre > code {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 24px;
  padding-right: 32px;
  line-height: 1.6;
  width: 100%;
  display: block;
  white-space: pre;
  overflow: auto;
  font-size:16px;

}
  
p > code, li > code {
  font-family: Inconsolata, monospace, monaco, consolas, "Ubuntu Mono", "Monospace";
  font-size:16px;
  background-color: #e0f7fb;
  padding:2px;
  border:1px solid #00c3e6;
  color: #000099;
  border-radius: 4px;
}

